<tr style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;"> 
	<td  class="content-box" height="20" style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;vertical-align: top;margin-bottom: 10px;padding: 0px 10%;">
		<table width="100%" class="alert-box"  cellpadding="0" cellspacing="0" style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;padding: 0px 10px;border-radius: 3px 3px 0 0;margin-bottom: 10px !important;">
			<tbody style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;">
				<tr  style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;">
					<td  class="content-block title" style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 16px;vertical-align: top;padding: 10px 0px 0px 0px;font-weight: 500;">
						<p>
							There were too many failed attempts to login to your account and your account has been locked for 30 minutes. If you think your account has been locked in error, or you'd like to access your account sooner follow this 
							<a href=" <%=data.link %> " target="_blank">link</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>