<tr style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;"> 
	<td  class="content-box" height="20" style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;vertical-align: top;margin-bottom: 10px;padding: 0px 10%;">
		<table width="100%" class="alert-box"  cellpadding="0" cellspacing="0" style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;padding: 0px 10px;border-radius: 3px 3px 0 0;margin-bottom: 10px !important;">
			<tbody style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;">
				<tr  style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;box-sizing: border-box;font-size: 14px;">
					<td  class="content-block title" style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 16px;vertical-align: top;padding: 10px 0px 0px 0px;font-weight: 500;">
						<p>Hello,</p>
						<p style="margin: 20px 0;">Your verification code is <strong style="font-size: 20px; letter-spacing: 2px;"><%=data.code %></strong>.</p>
						<p style="margin: 20px 0;"><strong>Please note:</strong></p>
						<ul style="margin: 10px 0; padding-left: 20px;">
							<li style="margin: 8px 0;">This code will expire in 10 minutes.</li>
							<li style="margin: 8px 0;">Do not share this code with anyone for your security.</li>
							<li style="margin: 8px 0;">If you did not initiate this login attempt, please ignore this email.</li>
						</ul>
						<p style="margin-top: 20px;">Thank you</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>