<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'companies.my_drivers' | translate }}</h5>
            </div>
            <div class="card-body">
                @if (isLoading) {
                <div class="text-center py-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                } @else {
                <sct-custom-table [columnConfig]="columnConfig" [tableData]="tableData" [tableConfig]="tableConfig">
                </sct-custom-table>
                }
            </div>
        </div>
    </div>
</div>