.captcha-container {
	width: 100%;
	max-width: 400px;
}

.captcha-content {
	width: 100%;
	display: flex;
	justify-content: center;
}

.captcha-divider {
	border-top: 1px solid #dee2e6;
}

@media (min-width: 576px) {
	.captcha-container {
		max-width: 100%;
	}
}
