.text-center {
	text-align: center !important;
}
.alert {
	margin-top: 8px;
	font-weight: 800;
}
.logo {
	margin-top: 15px;
	margin-bottom: 15px;
}

.text-danger {
	color: #dc3545 !important;
}

.text-success {
	color: #28a745 !important;
}
